<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .message{
            height: 300px;
            border:1px solid red;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="message" id="message"></div>
    <div>
        <input type="text" placeholder="请输入" id="txt">
        <input type="button" value="发送" onclick="sentMessage();">
    </div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    USER_UID="{{ uid }}"
    function sentMessage(){
        {#用户输入的数据#}
        var text = $("#txt").val();

        //基于Ajax将用户输入的文本信息发送到后台（偷偷的发送请求）。
        $.ajax({
            url:'/send/msg/',
            type:'GET',
            data:{
                text:text
            },
            success:function (res){
                console.log("请求发送成功",res);
            }
        })
    }

    function getMessage() {
        $.ajax({
            url:'/get/msg/',
            type:'GET',
            data:{
                uid:USER_UID,
            },

            dataType:"JSON",
            success:function (res) {
                //超时，没有新数据
                // 有新数据，展示信息数据
               if(res.status){
                    var tag=$("<div>");
                    tag.text(res.data)
                   $("#message").append(tag)
               }
                getMessage();//JS中的这种模式，看似递归，但内部却不是递归
            }
        })
    }
    //当页面框架加载完毕后执行
    $(function () {
        getMessage();

    })


</script>
</body>
</html>